openapi: 3.0.3
info:
  title: True API — ГИС МТ «Честный знак»
  version: '700.0'
  description: 'Спецификация True API системы маркировки «Честный знак» (ГИС МТ).


    True API предназначено для интеграции информационных систем участников оборота
    товаров с ГИС МТ: подача сведений (документы, чеки), получение сведений о кодах
    идентификации и маркированных товарах, получение квитанций, формирование выгрузок
    данных, взаимодействие с ЭДО Лайт, «Национальным каталогом» и «Станцией управления
    заказами».


    Официальная документация: https://docs.crpt.ru/gismt/True_API/


    Примечание: спецификация сгенерирована автоматически из HTML-документации «Описание
    True API» (версия v.700.0 от 16.07.2026). Для методов подачи документов примеры
    тел передаваемых документов (product_document и т.п.) в документации приводятся
    в виде шаблонов JSON/XML/CSV; в запросе документ передаётся в кодировке base64.
    Ссылки на разделы документации даны в полях x-section и x-doc-anchor (https://docs.crpt.ru/gismt/True_API/#<x-doc-anchor>).'
servers:
- url: https://markirovka.crpt.ru/api/v3/true-api
  description: Промышленный стенд, API v3
- url: https://markirovka.crpt.ru/api/v4/true-api
  description: Промышленный стенд, API v4
- url: https://markirovka.sandbox.crptech.ru/api/v3/true-api
  description: Демонстрационный стенд (песочница), API v3
- url: https://markirovka.sandbox.crptech.ru/api/v4/true-api
  description: Демонстрационный стенд (песочница), API v4
tags:
- name: Общие сведения
  description: 1. Назначение и условия применения True API
- name: Аутентификация
  description: 1.5. Единая аутентификация
- name: Рекомендации по работе с API
  description: 2. Рекомендации по работе с методами True API
- name: Регистрация УОТ
  description: 2.1. Процесс регистрации УОТ
- name: Обращение к True API
  description: 3. Обращение к True API
- name: Счета и договоры
  description: 3.7. Работа со счетами и договорами на оплату
- name: Баланс УОТ
  description: 3.8. Проверка баланса денежных средств УОТ по товарным группам
- name: Подача сведений
  description: 4. Подача сведений в систему
- name: Подача документов
  description: 4.1. Типы документов, доступные для подачи сведений через «Единый метод
    создания документов»
- name: Подача документов (другие типы)
  description: 4.3. Другие типы документов, доступные для подачи сведений в ГИС МТ
- name: Резервирование партий
  description: 4.4. Подача сведений о резервировании партий
- name: Сведения о КИ и товарах
  description: 5. Методы получения сведений о КИ и маркированных товарах
- name: Данные о КИ
  description: 5.1. Получение данных о КИ
- name: Карточки товара
  description: 5.6. Получение информации о карточках товара УОТ
- name: Согласие на предоставление информации
  description: 5.8. Работа с согласием о предоставлении информации участникам оборота
    товаров ГИС МТ
- name: Документы и чеки
  description: 6. Работа с документами и чеками в ГИС МТ
- name: Квитанции
  description: 7. Методы получения квитанций результата обработки документов
- name: Выгрузки данных
  description: 8. Методы формирования выгрузок данных из ГИС МТ
- name: Задания на выгрузку
  description: 8.3. Метод создания нового задания на выгрузку
- name: Статус задания на выгрузку
  description: 8.5. Метод получения статуса задания на выгрузку
- name: ЭДО Лайт
  description: 9. Взаимодействие с провайдером ЭДО Лайт
- name: Национальный каталог
  description: 10. Методы «Национального каталога»
- name: Станция управления заказами
  description: 11. Методы «Станции управления заказами»
paths:
  /auth/key:
    get:
      summary: Запрос авторизации при единой аутентификации
      operationId: get_auth_key
      description: 'Примечание Получение токена в формате UUID без предварительного
        запроса на получение уникальной пары доступно до сентября 2026 года


        Метод используется для получения уникальной пары: UUID (идентификатора текущей
        аутентификации) и сгенерированных случайных данных, которые в дальнейшем подписываются
        участником оборота товаров и передаются в метод получения ключа сессии при
        единой аутентификации для дальнейшего получения токена в формате UUID / JWT
        по УКЭП:'
      x-section: 1.5.1
      x-doc-anchor: _запрос_авторизации_при_единой_аутентификации
      tags:
      - Общие сведения
      - Аутентификация
      x-true-api-version: v3
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: Уникальный идентификатор сгенерированных случайных
                      данных
                  data:
                    type: string
                    description: Случайная строка данных
                required:
                - data
                - uuid
              example:
                uuid: a63ff582-b723-4da7-958b-453da27a6c62
                data: GNUFBAZBMPIUUMLXNMIOGSHTGFXZMT
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/simpleSignIn:
    post:
      summary: Получение ключа сессии при единой аутентификации
      operationId: post_auth_simplesignin
      description: Примечание Поддержка токена в формате JWT сохранена до конца 2026
        года
      x-section: 1.5.2
      x-doc-anchor: _получение_ключа_сессии_при_единой_аутентификации
      tags:
      - Общие сведения
      - Аутентификация
      x-true-api-version: v3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: Уникальный идентификатор подписанных случайных данных
                data:
                  type: string
                  description: Подписанные УКЭП зарегистрированного участника оборота
                    товаров случайные данные в base64 (присоединённая электронная
                    подпись)
                inn:
                  type: string
                  description: 'ИНН организации, под которой требуется авторизация
                    При получении токена в одном из форматов (UUID / JWT) обязательно
                    указывается ИНН организации, если у физического лица (пользователя
                    организации) есть действующая МЧД для получения доступа к ГИС
                    МТ. В остальных случаях параметр необязателен Длина значения:
                    10 или 12 цифр'
                details:
                  type: string
                  description: Реквизиты действующего аттестата соответствия объекта
                    информатизации, выданного органом по аттестации объектов информатизации
                unitedToken:
                  type: boolean
                  description: Признак запроса единого токена в виде uuid Обязательно
                    заполнен при получении токена в формате UUID. true — запрос токена
                    в формате UUID (единый токен аутентификации); false — запрос токена
                    в формате jwt (по умолчанию)
              required:
              - data
              - uuid
            example:
              uuid: string
              data: string
              inn: string
              details: string
              unitedToken: true
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Аутентификационный токен Параметр указывается в случае
                      успешного ответа
                  uuidToken:
                    type: string
                    description: Аутентификационный токен в виде uuid Возвращается
                      в случае успешного ответа при запросе токена в формате UUID
                  code:
                    type: string
                    description: Код ошибки Параметр указывается в случае не успешного
                      ответа
                  error_message:
                    type: string
                    description: Сообщение об ошибке
                  description:
                    type: string
                    description: Описание ошибки
                  expireDate:
                    type: string
                    description: 'Дата и время истечения срока действия токена Возвращается
                      только при запросе токена в формате UUID. Формат: yyyy-MM-ddTHH:mm:ss.SSSZ
                      Пример: 2026-10-10T00:00:00.123Z'
              example:
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.e.........mk6qe0lB12w9zEs
        '400':
          description: '2.1. Код 400, если не указан параметр «uuid»:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: В запросе отсутствует идентификат�ор авторизации (UUID)
        '403':
          description: '2.8. Код 403, если «data» подписан УКЭП сотрудника, который
            не является добавленным пользователем организации, под которой происходит
            попытка авторизации:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Отсутствует доступ к ресурсу
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /elk/crm-api/documents:
    get:
      summary: 'Шаг 2: получение сведений по черновикам договоров между УОТ и ГИС
        МТ'
      operationId: get_elk_crm_api_documents
      description: 'Подробное описание метода см. в разделе " Получение сведений по
        черновикам заключённых договоров между УОТ и Оператором ГИС МТ ". После обработки
        заявки на регистрацию для начала работы с товарными группами, указанными в
        заявке на регистрацию, УОТ должен подписать соответствующие договора. Если
        запрос успешно обработан, в ответ вернётся структура JSON, содержащая перечень
        данных по договорам, которые УОТ должен подписать. Все договора, которые УОТ
        заключает с ГИС МТ в рамках маркировки товаров, являются исходящими от УОТ
        и должны быть подписаны.


        Этот же метод (path+HTTP-метод) описан также в разделе 3.7.1 «Получение сведений
        по черновикам заключённых договоров между УОТ и Оператором ГИС МТ» документации.'
      x-section: 2.1.2
      x-doc-anchor: _шаг_2_получение_сведений_по_черновикам_договоров_между_уот_и_гис_мт
      tags:
      - Рекомендации по работе с API
      - Регистрация УОТ
      responses:
        '200':
          description: Успешный ответ
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-merged-sections:
      - 3.7.1
  /elk/crm-api/document:
    get:
      summary: 'Шаг 3: получение (выгрузка) черновиков договоров для подписания УОТ'
      operationId: get_elk_crm_api_document
      description: 'Подробное описание метода см. в разделе " Получение сведений по
        заключённым договорам между УОТ и ГИС МТ ".


        Наименование для файла договора необходимо брать из поля "Content-Disposition"
        после "filename="UTF-8"" заголовка ответа метода. Имя файла необходимо декодировать.


        Пример:


        Пример: Content-Disposition: attachment; filename=" _00691_20.pdf"; filename*=UTF-8''''%D0%9C%D0%9F_00691_20.pdf

        %D0%9C%D0%9F_00691_20.pdf -> МП_00691_20.pdf


        После выгрузки и сохранения договора необходимо перейти к шагу 5.


        Этот же метод (path+HTTP-метод) описан также в разделе 3.7.2 «Получение сведений
        по заключённым договорам между УОТ и ГИС МТ» документации.'
      x-section: 2.1.3
      x-doc-anchor: _шаг_3_получение_выгрузка_черновиков_договоров_для_подписания_уот
      tags:
      - Рекомендации по работе с API
      - Регистрация УОТ
      responses:
        '200':
          description: Успешный ответ
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-merged-sections:
      - 3.7.2
      parameters:
      - name: guid
        in: query
        required: true
        schema:
          type: number
        description: ID черновика договора Значение параметра "document" ("ID документа")
          в ответе метода " Получение сведений по черновикам заключённых договоров
          между УОТ и Оператором ГИС МТ " (elk/crm-api/documents)
  /participants:
    get:
      summary: Метод проверки регистрации участников оборота товаров по ИНН в ГИС
        МТ
      operationId: get_participants
      description: 'В результате успешного выполнения запроса по одному или нескольким
        ИНН участников оборота товаров в ответе возвращается информация об участнике
        оборота товаров.


        Публичный метод: без токена возвращается краткая информация об УОТ; с токеном
        — расширенная (при совпадении ИНН).'
      x-section: '3.1'
      x-doc-anchor: _метод_проверки_регистрации_участников_оборота_товаров_по_инн_в_гис_мт
      tags:
      - Обращение к True API
      security: []
      parameters:
      - name: inns
        in: query
        required: true
        schema:
          type: string
        description: Список ИНН участников оборота товаров Не более 100 ИНН
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  inn:
                    type: string
                    description: ИНН участника оборота товаров
                  status:
                    type: string
                    description: Текущий статус участника оборота товаров См. « Справочник
                      «Статусы УОТ» » (столбец «Описание»)
                  productGroups:
                    type: array
                    items:
                      type: string
                    description: Список товарных групп, подключенных к ИНН участника
                      оборота товаров См. « Справочник «Список поддерживаемых товарных
                      групп» »
                  is_registered:
                    type: boolean
                    description: 'Признак регистрации в ГИС МТ Возможные значения:
                      true — текущий статус участника оборота товаров в ГИС МТ, принимает
                      возможные значения: «REGISTERED» (Зарегистрирован), «RESTORED»
                      (Восстановлен) и «BLOCKED» (Заблокирован); false — в остальных
                      случаях'
                  is_kfh:
                    type: boolean
                    description: 'Признак того, что участник оборота товаров является
                      крестьянским фермерским хозяйством Возможные значения: true
                      — участник оборота товаров является крестьянским фермерским
                      хозяйством; false — в остальных случаях. Значение по умолчанию:
                      false. Идентификация крестьянских (фермерских) хозяйств осуществляется
                      по ОКОПФ. Для товарных групп «Консервированная продукция», «Молочная
                      продукция» и «Мясные изделия»: 15300 — крестьянские (фермерские)
                      хозяйства; 50101 — главы крестьянских (фермерских) хозяйств;
                      14100 — сельскохозяйственные производственные кооперативы. Только
                      для товарных групп «Молочная продукция» и «Мясные изделия»:
                      14153 — сельскохозяйственные артели (колхозы); 14154 — рыболовецкие
                      артели (колхозы); 14155 — кооперативные хозяйства (коопхозы)'
                  name:
                    type: string
                    description: Наименование участника оборота товаров
                  statusInn:
                    type: string
                    description: Статус регистрации участника оборота товаров См.
                      « Справочник «Статусы УОТ» » (столбец «Код»)
                  chief:
                    type: array
                    items:
                      type: string
                    description: Список Ф.И.О. руководителей
                  role:
                    type: array
                    items:
                      type: string
                    description: Список кодов типов организации участника оборота
                      товаров См. « Справочник «Типы организаций» »
                  okopf:
                    type: string
                    description: ОКОПФ
                  productGroupInfo:
                    type: object
                    description: Информация по товарным группам
                  productGroup:
                    type: string
                    description: Товарная группа
                  farmer:
                    type: boolean
                    description: 'Признак фермера Возможные значения: true — участник
                      оборота товаров является крестьянским фермерским хозяйством;
                      false — в остальных случаях. Значение по умолчанию: false'
                  isControllability:
                    type: boolean
                    description: 'Признак наличия подконтрольных объектов по данным
                      ФГИС «ВетИС» Возможные значения: true — есть подконтрольные
                      объекты; false — в остальных случаях. Значение по умолчанию:
                      false. Данный признак возвращается на основании значения, отображаемого
                      в личном кабинете участника оборота товаров в поле «Подконтрольность
                      ВЕТИС» (подробнее — в инструкции )'
                required:
                - inn
                - is_registered
                - productGroupInfo
                - status
              example:
                inn: '0000000000'
                status: Зарегистрирован
                productGroups:
                - lp
                - tobacco
                - shoes
                is_registered: true
                is_kfh: true
        '404':
          description: '2.1. При запросе информации с ИНН, по которому нет информации
            в ГИС МТ, возвращается ответ с кодом ошибки 404 "УОТ не найден":'
          content:
            application/json:
              schema:
                type: object
                properties:
                  inn:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
              example:
                inn: '0000000002'
                error_code: '404'
                error_message: УОТ не найден
        '400':
          description: '2.2. При запросе информации с некорректным ИНН возвращается
            ответ с кодом ошибки 400 "ИНН некорректен":'
          content:
            application/json:
              schema:
                type: object
                properties:
                  inn:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
              example:
                inn: '00000'
                error_code: '400'
                error_message: ИНН некорректен
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /mods/add:
    post:
      summary: Метод добавления мест осуществления деятельности
      operationId: post_mods_add
      description: 'Метод предназначен для добавления мест осуществления деятельности
        (МОД). Единовременно можно добавить до 100 МОД.


        Метод доступен для товарных групп «Антисептики и дезинфицирующие средства»,
        «Альтернативная табачная продукция», «Безалкогольное пиво», «Велосипеды и
        велосипедные рамы», «Духи и туалетная вода», «Игры и игрушки для детей», «Кабельно-проводниковая
        продукция», «Консервированная продукция», «Корма для животных», «Косметика,
        бытовая химия и товары личной гигиены», «Лёгкая промышленность», «Молочная
        продукция», «Морепродукты», «Моторные масла», «Мясные изделия», «Натуральный
        мех», «Никотиносодержащая продукция», «Обувные товары», «Оптоволокно и оптоволоконная
        продукция», «Отопительные приборы», «Печатная продукция», «Пиво, напитки,
        изготавливаемые на основе пива, слабоалкогольные напитки», «Пиротехника и
        огнетушащее оборудование», «Полимерные трубы», «Радиоэлектронная продукция»,
        «Радиоэлектронная продукция. Ноутбуки и смартфоны», «Радиоэлектронная продукция.
        Электронные системы доставки никотина», «Растительные масла», «Сладости и
        кондитерские изделия», «Соковая продукция и безалкогольные напитки», «Строительные
        материалы», «Табачная продукция», «Упакованная вода», «Фотокамеры (кроме кинокамер),
        фотовспышки и лампы-вспышки», «Шины и покрышки пневматические резиновые новые».


        Тип приватности: приватный.'
      x-section: '3.2'
      x-doc-anchor: metod_dobavleniya_mest_osushchestvleniya_deyatelnosti
      tags:
      - Обращение к True API
      x-true-api-version: v3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mods:
                  type: array
                  items:
                    type: object
                    properties:
                      productGroup:
                        type: array
                        items:
                          type: string
                      fiasId:
                        type: string
                      kpp:
                        type: string
                  description: Данные о МОД Не более 100 МОД в одном запросе
                productGroup:
                  type: array
                  items:
                    type: string
                  description: Список товарных групп, в которых создаются МОД Для
                    товарной группы «Пиво, напитки, изготавливаемые на основе пива,
                    слабоалкогольные напитки» добавление доступно только для индивидуальных
                    предпринимателей
                fiasId:
                  type: string
                  description: 'Идентификатор ФИАС Формат: GUID'
                kpp:
                  type: string
                  description: 'КПП Обязательно заполнен для юридических лиц. Строго
                    не заполнен для индивидуальных предпринимателей. Формат: 9 цифр'
              required:
              - fiasId
              - mods
              - productGroup
            example:
              mods:
              - productGroup:
                - water
                - shoes
                - perfumery
                fiasId: 1f1100e0-1f11-11d1-0a0c-0101e11c1101
                kpp: '123456789'
              - productGroup:
                - water
                - shoes
                - perfumery
                fiasId: 1f1100e0-1f11-11d1-0a0c-0111e11c1111
                kpp: '123456999'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                    description: Массив результатов запроса
                  groupDescription:
                    type: string
                    description: Текстовое сообщение с результатом проверки
                  code:
                    type: integer
                    description: Код ответа
                  count:
                    type: integer
                    description: Количество МОД в списке Количество добавленных или
                      не добавленных МОД
                  modList:
                    type: array
                    items:
                      type: object
                    description: Массив с данными о МОД
                  fiasId:
                    type: string
                    description: Идентификатор ФИАС
                  kpp:
                    type: string
                    description: КПП
                  productGroup:
                    type: array
                    items:
                      type: string
                    description: Товарные группы, в которых произошла операция См.
                      « Справочник «Список поддерживаемых товарных групп» »
                required:
                - code
                - count
                - fiasId
                - groupDescription
                - kpp
                - productGroup
                - results
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /mod:
    delete:
      summary: Метод удаления мест осуществления деятельности
      operationId: delete_mod
      description: 'Метод предназначен для удаления места осуществления деятельности
        у товарных групп, для которых доступен « Метод добавления мест осуществления
        деятельности ».


        Тип приватности: приватный.'
      x-section: '3.3'
      x-doc-anchor: metod_udaleniya_mest_osushchestvleniya_deyatelnosti
      tags:
      - Обращение к True API
      x-true-api-version: v3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                productGroup:
                  type: string
                  description: Код товарной группы См. « Справочник «Список поддерживаемых
                    товарных групп» »
                fiasId:
                  type: string
                  description: 'Идентификатор ФИАС Формат: GUID'
                kpp:
                  type: string
                  description: 'КПП Обязательно заполнен для юридических лиц. Строго
                    не заполнен для индивидуальных предпринимателей. Формат: 9 цифр'
              required:
              - fiasId
              - productGroup
            example:
              productGroup: water
              fiasId: 1f1100e0-1f11-11d1-0a0c-0101e11c1101
              kpp: '123456789'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Код ошибки
                  error_message:
                    type: string
                    description: Текст ошибки
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /mods/info:
    post:
      summary: Метод проверки статуса места осуществления деятельности организации
      operationId: post_mods_info
      description: 'Метод предназначен для получения статуса блокировки участника
        оборота товаров, его мест осуществления деятельности (МОД) и данных по блокировке
        в ЕГАИС.


        Если в запросе не указан параметр «kpp» («Массив КПП МОД») или «fiasId» («Массив
        идентификаторов ФИАС адресов МОД»), то в ответе возвращаются данные по блокировке
        участника оборота товаров, осуществляющего запрос.


        Метод доступен только для товарной группы «Пиво, напитки, изготавливаемые
        на основе пива, слабоалкогольные напитки».


        Тип приватности: публичный — метод доступен без аутентификации (токен не требуется).'
      x-section: '3.4'
      x-doc-anchor: _метод_проверки_статуса_места_осуществления_деятельности_организации
      tags:
      - Обращение к True API
      x-true-api-version: v3
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pg:
                  type: array
                  items:
                    type: string
                  description: 'Массив товарных групп Возможное значение: «beer» («Пиво,
                    напитки, изготавливаемые на основе пива, слабоалкогольные напитки»)'
                inn:
                  type: string
                  description: ИНН Можно указать только один ИНН. Если не заполнен,
                    то вернутся МОД участника оборота товаров, осуществляющего запрос.
                    Если параметр заполнен, вернутся МОД участника оборота товаров,
                    ИНН которого указан в этом параметре
                kpp:
                  type: array
                  items:
                    type: string
                  description: Массив КПП МОД Только для юридических лиц. Не более
                    1000 КПП в массиве
                fiasId:
                  type: array
                  items:
                    type: string
                  description: Массив идентификаторов ФИАС адресов МОД Только для
                    индивидуальных предпринимателей. Не более 1000 идентификаторов
                    ФИАС в массиве
              required:
              - pg
            example:
              pg:
              - beer
              inn: '1234567890'
              kpp:
              - '123456789'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  productGroupInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        productGroup:
                          type: string
                        status:
                          type: string
                    description: Статус доступности работы с товарной группой по ЕГАИС
                  mods:
                    type: array
                    items:
                      type: object
                      properties:
                        kpp:
                          type: string
                        productGroup:
                          type: string
                        isBlocked:
                          type: boolean
                        address:
                          type: string
                    description: МОД
                  productGroup:
                    type: string
                    description: 'Товарная группа Возможное значение: «beer» («Пиво,
                      напитки, изготавливаемые на основе пива, слабоалкогольные напитки»)'
                  status:
                    type: string
                    description: 'Статус Возможные значения: blocked — все адреса
                      осуществления деятельности заблокированы в ЕГАИС; active — есть
                      адреса осуществления деятельности не заблокированные в ЕГАИС'
                  kpp:
                    type: string
                    description: КПП МОД Возвращается для юридических лиц
                  fiasId:
                    type: string
                    description: Идентификатор ФИАС МОД Возвращается для индивидуальных
                      предпринимателей
                  isBlocked:
                    type: boolean
                    description: 'Признак блокировки Возможные значения: true — заблокирован
                      в ЕГАИС; false — не заблокирован в ЕГАИС'
                  address:
                    type: string
                    description: Адрес МОД
                required:
                - address
                - isBlocked
                - productGroup
                - status
              example:
                productGroupInfo:
                - productGroup: beer
                  status: active
                mods:
                - kpp: '123456789'
                  productGroup: beer
                  isBlocked: false
                  address: string
        '400':
          description: '2.1. Код 400, если не заполнен параметр тела запроса «pg»
            («Массив товарных групп»):'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Не указан обязательный параметр <наименование_параметра>
        '404':
          description: '2.7. Код 404, если в параметре тела запроса «inn» («ИНН»)
            указан ИНН, по которому нет информации в ГИС МТ:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Указанный ИНН не найден
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /mods/list:
    get:
      summary: Метод получения списка МОД по участнику оборота товаров
      operationId: get_mods_list
      description: 'Метод возвращает список мест осуществления деятельности участника
        оборота товаров, кроме удалённых, с возможностью указания параметров фильтрации
        в запросе.


        Пример запроса:


        Пример: curl -X GET "<url стенда>/mods/list?inns=1122334455&inns=6677889900&limit=10&page=0"

        -H "accept: application/json"

        -H "Authorization: Bearer <ТОКЕН>"


        Тип приватности: публичный — метод доступен без аутентификации (токен не требуется).'
      x-section: '3.5'
      x-doc-anchor: _метод_получения_списка_мод_по_участнику_оборота_товаров
      tags:
      - Обращение к True API
      x-true-api-version: v3
      security: []
      parameters:
      - name: fiasId
        in: query
        required: false
        schema:
          type: string
        description: Идентификатор ФИАС Если не будет указан, то в ответе вернутся
          все МОД
      - name: inns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Список ИНН участников оборота товаров Максимально допустимое
          значение — 10. Если не будет указан, то в ответе вернутся все МОД участника
          оборота товаров, осуществляющего запрос
      - name: kpp
        in: query
        required: false
        schema:
          type: string
        description: КПП Для юридических лиц. Если не будет указан, то в ответе вернутся
          все МОД
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: 'Максимальное количество записей на странице результата поиска
          Максимально допустимое значение — 1000, минимально допустимое значение —
          1. Значение по умолчанию: 100'
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: 'Номер страницы Используется для пагинации. Начинается с «0».
          Значение по умолчанию: 0'
      - name: productGroups
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Список товарных групп См. « Справочник «Список поддерживаемых
          товарных групп» ». Если не будет указан, то в ответе вернутся МОД по всем
          товарным группам
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                        kpp:
                          type: string
                        isBlockedEgais:
                          type: boolean
                        inn:
                          type: string
                    description: Список МОД
                  total:
                    type: integer
                    description: Общее количество объектов, удовлетворяющих параметрам
                      фильтрации
                  nextPage:
                    type: boolean
                    description: 'Признак наличия следующей страницы Возможные значения:
                      true — следующая страница есть; false — следующая страница отсутствует'
                  address:
                    type: string
                    description: Адрес
                  kpp:
                    type: string
                    description: КПП Возвращается для юридических лиц
                  fiasId:
                    type: string
                    description: Идентификатор ФИАС
                  isBlockedEgais:
                    type: boolean
                    description: 'Признак блокировки МОД в ЕГАИС Возможные значения:
                      true — МОД заблокирован; false — МОД не заблокирован'
                  inn:
                    type: string
                    description: ИНН
                  productGroups:
                    type: array
                    items:
                      type: string
                    description: Список товарных групп См. « Справочник «Список поддерживаемых
                      товарных групп» »
                required:
                - inn
                - nextPage
                - productGroups
                - result
                - total
              example:
                result:
                - address: string
                  kpp: '123456789'
                  isBlockedEgais: false
                  inn: '1122334455'
                - address: string
                  kpp: '987654321'
                  isBlockedEgais: false
                  inn: '6677889900'
                total: 2
                nextPage: false
        '400':
          description: '2.1. Код 400, если в параметре строки запроса «inns» («Список
            ИНН») указано более 10 значений:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: 'Превышено допустимое количество ИНН в параметре inns:
                  10'
        '401':
          description: '2.4. Код 401 при непройденной авторизации, если в запросе
            не указан токен или он невалидный:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Токен не действителен. Необходимо получить новый токен
                  аутентификации
        '404':
          description: '2.5. Код 404, если ошибка при указании URL метода:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Метод с указанным URL не найден
        '500':
          description: '2.6. Код 500, если внутренняя ошибка сервиса:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Ошибка при выполнении запроса
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /mrd/delegation/search:
    post:
      summary: Проверка наличия МЧД по ИНН физического лица
      operationId: post_mrd_delegation_search
      description: 'Метод предназначен для проверки наличия машиночитаемых доверенностей,
        выданных пользователю, выполняющему запрос. При наличии МЧД метод возвращает
        о них информацию: ИНН юридического лица / индивидуального предпринимателя,
        которым выдана МЧД, статус, дату начала и окончания действия МЧД.


        Тип приватности: приватный.'
      x-section: '3.6'
      x-doc-anchor: _проверка_наличия_мчд_по_инн_физического_лица
      tags:
      - Обращение к True API
      x-true-api-version: v3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                onlyActive:
                  type: boolean
                  description: Признак ограничения выборки данных только по активным
                    МЧД При значении = false возвращается информация о всех найденных
                    МЧД. Если значение = true или не указано, возвращается информация
                    только по активным МЧД
                organisationInn:
                  type: integer
                  description: ИНН юридического лица / индивидуального предпринимателя,
                    которым выдана МЧД
            example:
              onlyActive: true
              organisationInn: 555555555555
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    results:
                      type: array
                      items:
                        type: object
                        properties:
                          organisationInn:
                            type: string
                          status:
                            type: string
                          startDate:
                            type: string
                            format: date-time
                          endDate:
                            type: string
                            format: date-time
              example:
              - results:
                - organisationInn: '555555555555'
                  status: ACTIVE
                  startDate: '2023-09-05T17:48:59.861Z'
                  endDate: '2024-09-05T17:48:59.861Z'
        '400':
          description: '2.1. Код 400 при отсутствии в токене авторизации обязательного
            параметра «poa_number» («Номер доверенности»):'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  description:
                    type: string
                  error_message:
                    type: string
              example:
                code: 400
                description: Неподходящий тип УКЭП. Запрос может быть отправлен только
                  от физического лица.
                error_message: Неподходящий тип УКЭП. Запрос может быть отправлен
                  только от физического лица.
        '401':
          description: '2.2. Код 401 при отсутствии токена авторизации:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  description:
                    type: string
                  error_message:
                    type: string
              example:
                code: 401
                description: Токен не действителен. Необходимо получить новый токен
                  аутентификации
                error_message: Токен не действителен. Необходимо получить новый токен
                  аутентификации
        '404':
          description: '2.3. Код 404, если не удалось найти МЧД по данным в токене
            авторизации:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  description:
                    type: string
                  error_message:
                    type: string
              example:
                code: 404
                description: Не удалось найти доверенность по указанному номеру
                error_message: Не удалось найти доверенность по указанному номеру
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /elk/outgoing-documents/{documentId}/signature:
    post:
      summary: Подписание договоров
      operationId: post_elk_outgoing_documents_by_documentid_signature
      description: 'Метод предназначен для подписания УОТ договоров с ГИС МТ с помощью
        УКЭП.


        В результате передачи в запросе ЭП к договору с указываемым идентификатором
        на выходе возвращается статус обработки запроса и информация об ошибке (при
        её наличии).


        Content-Type: text/plain


        Тип приватности: приватный.


        Тот же метод описан в разделе 2.1.4 «Шаг 4: подписание договоров» (сценарий
        регистрации УОТ), который отсылает к подробному описанию в разделе 3.7.3 «Подписание
        договоров»: УОТ должен подписать загруженный договор УКЭП; шаги 4 и 5 необходимо
        повторить для всех договоров, информация о которых возвращается на шаге 3.
        Для договоров, обработанных со стороны Оператора и подписанных УОТ, при вызове
        метода на шаге 3 в поле "status" возвращается код "2" ("Оформлен\Подписан").'
      x-section: 2.1.4, 3.7.3
      x-doc-anchor: _подписание_договоров
      tags:
      - Обращение к True API
      - Счета и договоры
      - Рекомендации по работе с API
      - Регистрация УОТ
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
        description: Идентификатор документа в системе ЭДО оператора. Можно найти
          по методу /elk/crm-api/documents в ответе которого будет нужный параметр
          "document" ("ID документа")
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  type: string
                  description: Открепленная подпись под документом в base64
              required:
              - signature
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: id документа по ЭДО Лайт
                required:
                - id
              example:
                id: string
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /elk/outgoing-documents:
    get:
      summary: Получение статуса заключения договора
      operationId: get_elk_outgoing_documents
      description: 'Метод предназначен для получения информации о статусе заключения
        всех договоров между ГИС МТ и УОТ.


        В результате передачи в токене запроса идентификатора УОТ (ParticipantId)
        возвращается массив статусов обработки договоров УОТ.


        Существуют следующие статусы:


        Если подписана только часть договоров, то УОТ не может быть полностью активен
        в ГИС МТ (общий статус УОТ не валиден в Системе).


        Если требуется подписание договора со стороны УОТ, то статус входящего документа
        = "Черновик".


        Если требуется подписание договора со стороны Оператора, то статус входящего
        документа = "Доставлен (ожидается подпись)", статус исходящего документа =
        "Требуется подпись".


        Если обе стороны подписали документ, то статус входящего и исходящего документа
        = "Подписан".


        Тип приватности: приватный.


        В документации раздел описывает несколько URL; данная операция соответствует
        варианту: «Для исходящих документов».


        Этот же метод (path+HTTP-метод) описан также в разделе 9.3 «Метод получения
        списка документов» документации.'
      x-section: 3.7.4
      x-doc-anchor: _получение_статуса_заключения_договора
      tags:
      - Обращение к True API
      - Счета и договоры
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: string
        description: Количество возвращаемых документов Значение по умолчанию = 10
      - name: offset
        in: query
        required: false
        schema:
          type: string
        description: Смещение Значение по умолчанию = 0
      - name: asc
        in: query
        required: false
        schema:
          type: boolean
        description: 'Параметр, определяющий направление сортировки Допустимые значения:
          false — по убыванию (значение по умолчанию); true — по возрастанию'
      - name: created_from
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Нижняя граница фильтрации документов по времени создания В выборку
          попадут документы, время создания которых больше или равно указанному
      - name: created_to
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Верхняя граница фильтрации документов по времени создания В выборку
          попадут документы, время создания которых меньше или равно указанному
      - name: folder
        in: query
        required: false
        schema:
          type: integer
        description: 'Цифровое обозначение папки, в которой находятся документы Для
          поиска по всем папкам параметр не указывается. Допустимые значения: 0 —
          документы; 1 — архив; 2 — корзина; 3 — на подписание; 4 — отклоненные; 5
          — на подпись РВ; 6 — на подпись РЭ; 7 — биллинг; 8 — автоподписание'
      - name: partner_id
        in: query
        required: false
        schema:
          type: string
        description: Идентификатор получателя документа
      - name: partner_inn
        in: query
        required: false
        schema:
          type: string
        description: ИНН контрагента Для исходящего документа это получатель, для
          входящего — отправитель
      - name: product_group
        in: query
        required: false
        schema:
          type: integer
        description: Цифровое обозначение товарной группы См. Справочник «Список поддерживаемых
          товарных групп»
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
        description: 'Параметр, по которому необходимо отсортировать возвращаемый
          список документов Допустимые значения: created_at — время создания документа'
      - name: status
        in: query
        required: false
        schema:
          type: integer
        description: Цифровое обозначение статуса возвращаемых документов См. « Справочник
          «Статусная модель» »
      - name: type
        in: query
        required: false
        schema:
          type: integer
        description: Цифровое обозначение типа создаваемых документов См. « Справочник
          «Типы универсальных документов» »
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Число возвращённых документов
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: integer
                    description: Список договоров с ГИС МТ При наличии договора в
                      ГИС МТ
                  id:
                    type: string
                    description: Идентификатор документа в системе ЭДО оператора
                  status:
                    type: number
                    description: Статус заключения черновика договора либо договора
                      см. справочник «Статусная модель» Если status = 4, то договор
                      считается подписанным обеими сторонами. Иначе при любом другом
                      значении status договор считается неподписанным обеими сторонами.
                required:
                - count
                - id
                - status
              example:
                count: 4
                items:
                - id: 5b7f19e8-db96-463a-9735-2ef1a73abf9b
                  status: 2
                - id: 02e88283-5793-42fd-bdba-1b5176fe912c
                  status: 4
                - id: 0268d1c9-b601-4866-9ed1-3595e34387bc
                  status: 0
                - id: 057fbd84-a933-4eee-b5a4-0f4b9579f901
                  status: 1
        '401':
          description: '2.1. Код 401 В случае, если не указан токен:'
          content:
            application/xml:
              schema:
                type: string
              example: '<UnauthorizedException>

                <error>unauthorized</error>

                <error_description>Full authentication is required to access this

                resource</error_description>

                </UnauthorizedException>'
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-merged-sections:
      - '9.3'
  /elk/incoming-documents:
    get:
      summary: Получение статуса заключения договора
      operationId: get_elk_incoming_documents
      description: 'Метод предназначен для получения информации о статусе заключения
        всех договоров между ГИС МТ и УОТ.


        В результате передачи в токене запроса идентификатора УОТ (ParticipantId)
        возвращается массив статусов обработки договоров УОТ.


        Существуют следующие статусы:


        Если подписана только часть договоров, то УОТ не может быть полностью активен
        в ГИС МТ (общий статус УОТ не валиден в Системе).


        Если требуется подписание договора со стороны УОТ, то статус входящего документа
        = "Черновик".


        Если требуется подписание договора со стороны Оператора, то статус входящего
        документа = "Доставлен (ожидается подпись)", статус исходящего документа =
        "Требуется подпись".


        Если обе стороны подписали документ, то статус входящего и исходящего документа
        = "Подписан".


        Тип приватности: приватный.


        В документации раздел описывает несколько URL; данная операция соответствует
        варианту: «Для входящих документов».


        Этот же метод (path+HTTP-метод) описан также в разделе 9.3 «Метод получения
        списка документов» документации.'
      x-section: 3.7.4
      x-doc-anchor: _получение_статуса_заключения_договора
      tags:
      - Обращение к True API
      - Счета и договоры
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: string
        description: Количество возвращаемых документов Значение по умолчанию = 10
      - name: offset
        in: query
        required: false
        schema:
          type: string
        description: Смещение Значение по умолчанию = 0
      - name: asc
        in: query
        required: false
        schema:
          type: boolean
        description: 'Параметр, определяющий направление сортировки Допустимые значения:
          false — по убыванию (значение по умолчанию); true — по возрастанию'
      - name: created_from
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Нижняя граница фильтрации документов по времени создания В выборку
          попадут документы, время создания которых больше или равно указанному
      - name: created_to
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Верхняя граница фильтрации документов по времени создания В выборку
          попадут документы, время создания которых меньше или равно указанному
      - name: folder
        in: query
        required: false
        schema:
          type: integer
        description: 'Цифровое обозначение папки, в которой находятся документы Для
          поиска по всем папкам параметр не указывается. Допустимые значения: 0 —
          документы; 1 — архив; 2 — корзина; 3 — на подписание; 4 — отклоненные; 5
          — на подпись РВ; 6 — на подпись РЭ; 7 — биллинг; 8 — автоподписание'
      - name: partner_id
        in: query
        required: false
        schema:
          type: string
        description: Идентификатор получателя документа
      - name: partner_inn
        in: query
        required: false
        schema:
          type: string
        description: ИНН контрагента Для исходящего документа это получатель, для
          входящего — отправитель
      - name: product_group
        in: query
        required: false
        schema:
          type: integer
        description: Цифровое обозначение товарной группы См. Справочник «Список поддерживаемых
          товарных групп»
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
        description: 'Параметр, по которому необходимо отсортировать возвращаемый
          список документов Допустимые значения: created_at — время создания документа'
      - name: status
        in: query
        required: false
        schema:
          type: integer
        description: Цифровое обозначение статуса возвращаемых документов См. « Справочник
          «Статусная модель» »
      - name: type
        in: query
        required: false
        schema:
          type: integer
        description: Цифровое обозначение типа создаваемых документов См. « Справочник
          «Типы универсальных документов» »
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Число возвращённых документов
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: integer
                    description: Список договоров с ГИС МТ При наличии договора в
                      ГИС МТ
                  id:
                    type: string
                    description: Идентификатор документа в системе ЭДО оператора
                  status:
                    type: number
                    description: Статус заключения черновика договора либо договора
                      см. справочник «Статусная модель» Если status = 4, то договор
                      считается подписанным обеими сторонами. Иначе при любом другом
                      значении status договор считается неподписанным обеими сторонами.
                required:
                - count
                - id
                - status
              example:
                count: 4
                items:
                - id: 5b7f19e8-db96-463a-9735-2ef1a73abf9b
                  status: 2
                - id: 02e88283-5793-42fd-bdba-1b5176fe912c
                  status: 4
                - id: 0268d1c9-b601-4866-9ed1-3595e34387bc
                  status: 0
                - id: 057fbd84-a933-4eee-b5a4-0f4b9579f901
                  status: 1
        '401':
          description: '2.1. Код 401 В случае, если не указан токен:'
          content:
            application/xml:
              schema:
                type: string
              example: '<UnauthorizedException>

                <error>unauthorized</error>

                <error_description>Full authentication is required to access this

                resource</error_description>

                </UnauthorizedException>'
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-merged-sections:
      - '9.3'
  /elk/outgoing-documents/{documentId}/content:
    get:
      summary: Получение сведений о заключенных договорах между УОТ и Оператором ГИС
        МТ
      operationId: get_elk_outgoing_documents_by_documentid_content
      description: 'Тип приватности: приватный.


        В документации раздел описывает несколько URL; данная операция соответствует
        варианту: «Для исходящих документов».'
      x-section: 3.7.5
      x-doc-anchor: _получение_сведений_о_заключенных_договорах_между_уот_и_оператором_гис_мт
      tags:
      - Обращение к True API
      - Счета и договоры
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
        description: Идентификатор документа в системе ЭДО оператора
      responses:
        '200':
          description: Успешный ответ
        '401':
          description: '2.1. Код 401 в случае, если не указан токен:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Токен не действителен. Необходимо получить новый токен
                  аутентификации
        '403':
          description: '2.2. Код 403 в случае, если доступ запрещён:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Отсутствует доступ к ресурсу
        '404':
          description: '2.3. Код 404 в случае, если указан невалидный {documentId}
            в параметре URL запроса:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Документ не найден в ГИС МТ
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /elk/incoming-documents/{documentId}/content:
    get:
      summary: Получение сведений о заключенных договорах между УОТ и Оператором ГИС
        МТ
      operationId: get_elk_incoming_documents_by_documentid_content
      description: 'Тип приватности: приватный.


        В документации раздел описывает несколько URL; данная операция соответствует
        варианту: «Для входящих документов».'
      x-section: 3.7.5
      x-doc-anchor: _получение_сведений_о_заключенных_договорах_между_уот_и_оператором_гис_мт
      tags:
      - Обращение к True API
      - Счета и договоры
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
        description: Идентификатор документа в системе ЭДО оператора
      responses:
        '200':
          description: Успешный ответ
        '401':
          description: '2.1. Код 401 в случае, если не указан токен:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Токен не действителен. Необходимо получить новый токен
                  аутентификации
        '403':
          description: '2.2. Код 403 в случае, если доступ запрещён:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Отсутствует доступ к ресурсу
        '404':
          description: '2.3. Код 404 в случае, если указан невалидный {documentId}
            в параметре URL запроса:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Документ не найден в ГИС МТ
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /elk/crm-api/prequests:
    post:
      summary: Получение счёта на оплату
      operationId: post_elk_crm_api_prequests
      description: 'При успешном выполнении запроса на указанный в запросе e-mail
        отправляется файл со счётом на оплату.


        Content-Type: application/json


        Тип приватности: приватный.'
      x-section: 3.7.6
      x-doc-anchor: _получение_счёта_на_оплату
      tags:
      - Обращение к True API
      - Счета и договоры
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contractId:
                  type: string
                  description: Номер лицевого счёта товарной группы
                sendto:
                  type: string
                  description: e-mail УОТ На данный e-mail будет отправлен счёт на
                    оплату
                amount:
                  type: string
                  description: Сумма счёта на оплату с учётом НДС Значение данного
                    параметра будет указано в счёте на оплату. Указывается в рублях
                    с разделителем ". "(точка) для указания копеек.
              required:
              - amount
              - contractId
              - sendto
            example:
              contractId: '1111111'
              sendto: email
              amount: '111'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Код статуса обработки запроса на получение счёта
                      на оплату см. справочник «Статусы ответов»
                  response:
                    type: integer
                    description: Идентификатор созданного счета на оплату
                  error_message:
                    type: string
                    description: Текст сообщения об ошибке при обработке запроса Параметр
                      возвращается при наличии ошибки
                required:
                - response
                - status
              example:
                status: 200
        '401':
          description: '2.1. Код 401 В случае, если не указан токен:'
          content:
            application/xml:
              schema:
                type: string
              example: '<UnauthorizedException>

                <error>unauthorized</error>

                <error_description>Full authentication is required to access this

                resource</error_description>

                </UnauthorizedException>'
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /elk/product-groups/balance/all:
    get:
      summary: Получение информации о балансе денежных средств по всем товарным группам
      operationId: get_elk_product_groups_balance_all
      description: 'Метод предназначен для получения значения баланса лицевых счетов,
        запрашиваемого УОТ по каждой товарной группе. Выполнить запрос можно только
        для получения собственного баланса денежных средств.


        Тип приватности: приватный.'
      x-section: 3.8.1
      x-doc-anchor: _получение_информации_о_балансе_денежных_средств_по_всем_товарным_группам
      tags:
      - Обращение к True API
      - Баланс УОТ
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    organisationId:
                      type: integer
                    productGroupId:
                      type: integer
                    balance:
                      type: integer
                    contractId:
                      type: integer
              example:
              - organisationId: 572286704
                productGroupId: 3
              - balance: 120000000
                organisationId: 600000749
                productGroupId: 8
              - balance: 120000000
                organisationId: 600000749
                productGroupId: 5
              - balance: 120000000
                organisationId: 600000749
                productGroupId: 6
              - balance: 119999880
                organisationId: 600000749
                productGroupId: 1
              - organisationId: 600000749
                productGroupId: 10
              - balance: 120000000
                organisationId: 600000749
                productGroupId: 4
              - organisationId: 600000749
                productGroupId: 9
              - balance: 11990340
                contractId: 1000005356
                organisationId: 600000749
                productGroupId: 2
        '401':
          description: '2.1. Код 401 В случае, если в запросе не указан токен:'
          content:
            application/xml:
              schema:
                type: string
              example: '<UnauthorizedException>

                <error>unauthorized</error>

                <error_description>Full authentication is required to access this

                resource</error_description>

                </UnauthorizedException>'
        '404':
          description: '2.2. Код 404 В случае, если в токене отсутствует pid:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: В токене указано некорректное значение параметра pid
                  либо в Системе ГИС МТ нет пользователя с данным идентификатором,
                  либо у пользователя нет лицевого счёта в Системе ГИС МТ
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /elk/product-groups/balance:
    get:
      summary: Получение информации о балансе денежных средств по одной товарной группе
      operationId: get_elk_product_groups_balance
      description: 'Метод предназначен для получения значения баланса лицевого счета,
        запрашиваемого УОТ по одной товарной группы. Выполнить запрос можно только
        для получения информации о собственном балансе денежных средств.


        Тип приватности: приватный.'
      x-section: 3.8.2
      x-doc-anchor: _получение_информации_о_балансе_денежных_средств_по_одной_товарной_группе
      tags:
      - Обращение к True API
      - Баланс УОТ
      parameters:
      - name: productGroupId
        in: query
        required: true
        schema:
          type: number
        description: Идентификатор товарной группы УОТ см. « Справочник «Список поддерживаемых
          товарных групп» »
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer
                    description: Значение баланса в копейках
                  organisationId:
                    type: integer
                    description: ID УОТ Идентификатор организации УОТ в ГИС МТ
                  productGroupId:
                    type: integer
                    description: Идентификатор товарной группы УОТ см. « Справочник
                      «Список поддерживаемых товарных групп» »
                  contractId:
                    type: number
                    description: Идентификатор договора УОТ с ГИС МТ
                required:
                - organisationId
                - productGroupId
              example:
                balance: 120000000
                organisationId: 600000749
                productGroupId: 8
        '404':
          description: '2 В случае ошибок: 2.1. Код 404 В случае, если в ответе вернулся
            пустой массив, означающий указание в запросе некорректного/несуществующего
            в Системе ГИС МТ ID УОТ либо отсутствие у УОТ лицевого счёта в Системе
            ГИС МТ:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: В токене указано некорректное значение параметра pid
                  либо в Системе ГИС МТ нет пользователя с идентификаторами {0} нет
                  лицевого счё�та в Системе ГИС МТ, где {0} это pid берется из tokena
        '401':
          description: '2.2. Код 401 В случае, если в запросе не указан токен:'
          content:
            application/xml:
              schema:
                type: string
              example: '<UnauthorizedException>

                <error>unauthorized</error>

                <error_description>Full authentication is required to access this
                resource</error_description>

                </UnauthorizedException>'
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /lk/documents/create:
    post:
      summary: Единый метод создания документов
      operationId: post_lk_documents_create
      description: 'Ограничение доступа к методу: при отправке запроса с токеном пользователя
        с ролью «Сотрудник» в ответе вернётся ошибка (подробнее см. в «Памятке по
        ролевой модели доступа Системы маркировки» ).


        Тип приватности: приватный.


        В документации приведено несколько вариантов тела запроса (2); в спецификации
        использован репрезентативный пример, остальные варианты см. в разделе 4.1.1
        документации.'
      x-section: 4.1.1
      x-doc-anchor: _единый_метод_создания_документов
      tags:
      - Подача сведений
      - Подача документов
      parameters:
      - name: pg
        in: query
        required: true
        schema:
          type: string
        description: Товарная группа Cм. справочник «Список поддерживаемых товарных
          групп» . В параметре указывается кодовый идентификатор товарной группы
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document_format:
                  type: string
                  description: 'Тип документа Значения: MANUAL — формат * .json; XML
                    — формат * .xml; CSV — формат * .csv'
                product_document:
                  type: string
                  description: 'Тело формируемого документа, закодированное в base64
                    Для следующих документов указывается титул продавца по формату
                    приказа ФНС № ЕД-7-26/970@, версия 5.02 и 5.03 в формате XML и
                    в кодировке Windows-1251: «FIXATION» (доступен для товарных групп
                    «Алкоголь» и «Пиво, напитки, изготавливаемые на основе пива, слабоалкогольные
                    напитки»); «UNIVERSAL_TRANSFER_DOCUMENT», «UNIVERSAL_TRANSFER_DOCUMENT_FIX»
                    (доступны для товарных групп «Алкоголь», «Ветеринарные препараты»
                    и «Пиво, напитки, изготавливаемые на основе пива, слабоалкогольные
                    напитки»); «UNIVERSAL_CORRECTION_DOCUMENT» (доступен для товарных
                    групп «Ветеринарные препараты» и «Пиво, напитки, изготавливаемые
                    на основе пива, слабоалкогольные напитки»); «UNIVERSAL_CORRECTION_DOCUMENT_FIX»
                    (доступен только для товарной группы «Пиво, напитки, изготавливаемые
                    на основе пива, слабоалкогольные напитки»). О требованиях к оформлению
                    УД читайте в методических рекомендациях'
                type:
                  type: string
                  description: Код типа документа См. « Справочник «Типы документов»
                    »
                signature:
                  type: string
                  description: Откреплённая подпись (УКЭП) в формате base64 Для типов
                    документов «FIXATION», «FIXATION_CANCEL», «UNIVERSAL_TRANSFER_DOCUMENT»,
                    «UNIVERSAL_TRANSFER_DOCUMENT_FIX», «UNIVERSAL_CORRECTION_DOCUMENT»
                    и «UNIVERSAL_CORRECTION_DOCUMENT_FIX» указывается откреплённая
                    подпись титула продавца
                second_product_document:
                  type: string
                  description: 'Титул покупателя в формате XML, закодированный в base64
                    Титул покупателя по формату приказа ФНС № ЕД-7-26/970@, версия
                    5.02 и 5.03 в формате XML. Обязательный для типов документов:
                    «UNIVERSAL_TRANSFER_DOCUMENT», «UNIVERSAL_TRANSFER_DOCUMENT_FIX»,
                    «UNIVERSAL_CORRECTION_DOCUMENT» и «UNIVERSAL_CORRECTION_DOCUMENT_FIX».
                    Для остальных типов документов строго отсутствует'
                second_signature:
                  type: string
                  description: 'Откреплённая подпись (УКЭП) участника оборота товаров
                    для титула покупателя, закодированная в base64 Обязательный для
                    типов документов: «UNIVERSAL_TRANSFER_DOCUMENT», «UNIVERSAL_TRANSFER_DOCUMENT_FIX»,
                    «UNIVERSAL_CORRECTION_DOCUMENT» и «UNIVERSAL_CORRECTION_DOCUMENT_FIX».
                    Для остальных типов документов строго отсутствует'
                signExt:
                  type: string
                  description: Откреплённая УКЭП Оператора РБ, закодированная в base64
              required:
              - document_format
              - product_document
              - signature
              - type
            example:
              document_format: string
              product_document: <Тело формируемого документа, закодированное в base64>
              type: string
              signature: <Откреплённая подпись для product_document, закодированная
                в base64>
              second_product_document: <Тело формируемого документа титула покупателя,
                закодированное в base64>
              second_signature: <Откреплённая подпись для second_product_document,
                закодированная в base64>
      responses:
        '200':
          description: Успешный ответ
        '401':
          description: '2.1. Код 401, если не указан токен:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Для доступа к этому ресурсу требуется полная аутентификация.
                  Проверьте токен
        '400':
          description: '2.2. Код 400 при неверной структуре JSON в теле запроса:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: 'JSON parse error: <описание ошибки>'
        '403':
          description: '2.9. Код 403 при недоступности функциональности товарной группе,
            когда нет тела ответа от компонента товарной группы:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Отсутствует дост�уп к ресурсу
        '409':
          description: '2.10. Код 409, если для типа документа «AGGREGATION_DOCUMENT»
            передано более 100 уникальных партий набора или более 10000 уникальных
            номеров партий вложений:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example: &id001
                error_message: Превышено допустимое количество элементов в запросе
                  – передано {Количество переданных значений}, допустимо {Текущий
                  лимит}
        '100':
          description: '2.10. Код 409, если для типа документа «AGGREGATION_DOCUMENT»
            передано более 100 уникальных партий набора или более 10000 уникальных
            номеров партий вложений:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example: *id001
        '422':
          description: '2.11. Код 422 при недоступности функциональности товарной
            группе, когда есть тело ответа от ЛП-компонента:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: <type> недоступен для товарной группы <Наименование
                  ТГ>
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/aggregation/create:
    post:
      summary: Формирование упаковки («Альтернативная табачная продукция», «Никотиносодержащая
        продукция», «Табачная продукция»)
      operationId: post_documents_aggregation_create
      description: 'Подача сведений в документе формирования упаковки доступна для
        товарных групп «Альтернативная табачная продукция», «Никотиносодержащая продукция»
        и «Табачная продукция».


        Важно В документе коды идентификации указываются в нормализованном виде (без
        скобок, обрамляющих идентификаторы применения)


        Особенности формирования мультитоварной транспортной упаковки (КИТУ):


        Пример запроса для документа в формате * .json:


        Пример: curl -X POST "<url стенда>/documents/aggregation/create"

        -H "X-Signature: <string>"

        -H "Content-Type: multipart/form-data"

        -H "accept: application/json"

        -H "Authorization: Bearer <Токен>"

        --form "jsonFile=@"/C:/Users/79278/Desktop/XXX.json"


        Тип приватности: приватный.


        Тело передаваемого документа формируется по шаблону и передаётся в запросе
        в кодировке base64. Примеры тела документа в документации приведены для форматов:
        JSON.'
      x-section: 4.3.1
      x-doc-anchor: agregirovanie_tabak
      tags:
      - Подача сведений
      - Подача документов (другие типы)
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID документа, прошедшего проверку
                  error_message:
                    type: string
                    description: Текст сообщения об ошибке при обработке запроса Параметр
                      возвращается при наличии ошибки
                required:
                - id
              example:
                id: string
        '400':
          description: Ошибка 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_message:
                    type: string
              example:
                error_message: Ошибка проверки подписи
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /party-numbers/generate:
    post:
      summary: Метод генерации номеров партий
      operationId: post_party_numbers_generate
      description: 'Метод предназначен для автоматической генерации номеров партий
        в Системе маркировки для товарной группы «Молочная продукция».


        Важно Максимальный размер резерва — 1 000 партий. Если вы захотите удалить
        партии из резерва, то нужно будет обратиться в службу технической поддержки
        по телефону 8 (800) 222-15-23 или по электронной почте support@crpt.ru


        Тип приватности: приватный.'
      x-section: 4.4.1
      x-doc-anchor: _метод_генерации_номеров_партий
      tags:
      - Подача сведений
      - Резервирование партий
      x-true-api-version: v3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pg:
                  type: string
                  description: 'Товарная группа Возможное значение: «milk» (Молочная
                    продукция)'
                partyNumberInfo:
                  type: array
                  items:
                    type: object
                    properties:
                      gtin:
                        type: string
                      productionDate:
                        type: string
                        format: date-time
                      count:
                        type: integer
                  description: Набор параметров для генерации партий
                gtin:
                  type: string
                  description: 'Код товара Формат: 14 цифр'
                productionDate:
                  type: integer
                  description: 'Дата и время производства Формат: yyyy-MM-ddTHH:mm:ss.SSSZ'
                count:
                  type: integer
                  description: Количество номеров партий для генерации Только цифры.
                    Максимально допустимое значение — 50
              required:
              - count
              - gtin
              - partyNumberInfo
              - pg
              - productionDate
            example:
              pg: milk
              partyNumberInfo:
              - gtin: 04811111111111
                productionDate: '2025-07-14T00:00:00.000Z'
                count: 1
              - gtin: 04875777777777
                productionDate: '2025-07-14T00:00:00.000Z'
                count: 1
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  inn:
                    type: string
                    description: ИНН участника оборота товаров
                  partyNumberInfo:
                    type: array
                    items:
                      type: object
                    description: Массив партий
                  partyNumber:
                    type: array
                    items:
                      type: string
                    description: Список номеров партий
                  gtin:
                    type: array
                    items:
                      type: string
                    description: Список кодов товаров
                  productionDate:
                    type: string
                    description: 'Дата и время производства Формат: yyyy-MM-ddTHH:mm:ss.SSSZ'
                  errorMessage:
                    type: string
                    description: Описание ошибки Возвращается только при наличии ошибки
                      при выполнении запроса
                  errorResult:
                    type: object
                    description: Результат обработки с ошибками
                required:
                - inn
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /party-numbers/reserve:
    post:
      summary: Метод резервирования номеров партий
      operationId: post_party_numbers_reserve
      description: 'Метод предназначен для резервирования сгенерированных номеров
        партий вне Системы маркировки для товарной группы «Молочная продукция».


        Тип приватности: приватный.'
      x-section: 4.4.2
      x-doc-anchor: _метод_резервирования_номеров_партий
      tags:
      - Подача сведений
      - Резервирование партий
      x-true-api-version: v3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pg:
                  type: string
                  description: 'Товарная группа Возможное значение: «milk» (Молочная
                    продукция)'
                partyNumber:
                  type: array
                  items:
                    type: string
                  description: 'Список сгенерированных номеров партий Максимально
                    допустимое значение — 50. Формат: от 21 до 32 символов включительно,
                    без пробелов. Допустимые символы: цифры, буквы латинского алфавита,
                    спецсимволы (/ . , -). Номер партии состоит из трёх групп данных:
                    первая группа данных состоит из 14 цифр и содержит код товара
                    единицы продукции либо код товара набора; вторая группа данных
                    состоит из 6 символов и содержит дату производства в формате ГГММДД;
                    третья группа данных состоит от 1 до 12 символов и содержит серийный
                    номер (внутренний номер партии), допустимые символы — цифры, буквы
                    латинского алфавита и спецсимволы (/ . , -)'
              required:
              - partyNumber
              - pg
            example:
              pg: milk
              partyNumber:
              - 04867777774906250214JiMTBbbbJ6zB
              - 04865555554906250214JiMTMmMmJ6zB
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  inn:
                    type: string
                    description: ИНН участника оборота товаров
                  partyNumberInfo:
                    type: array
                    items:
                      type: object
                    description: Массив партий
                  partyNumber:
                    type: array
                    items:
                      type: string
                    description: Список номеров партий
                  gtin:
                    type: array
                    items:
                      type: string
                    description: Список кодов товаров
                  productionDate:
                    type: string
                    description: 'Дата и время производства Формат: yyyy-MM-ddTHH:mm:ss.SSSZ'
                  errorMessage:
                    type: string
                    description: Описание ошибки Возвращается только при наличии ошибки
                      при выполнении запроса
                  errorResult:
                    type: object
                    description: Результат обработки с ошибками
                required:
                - inn
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /party-numbers/list:
    get:
      summary: Метод получения зарезервированных номеров партий
      operationId: get_party_numbers_list
      description: 'Метод предназначен для получения списка зарезервированных номеров
        партий для товарной группы «Молочная продукция».


        Тип приватности: приватный.'
      x-section: 4.4.3
      x-doc-anchor: _метод_получения_зарезервированных_номеров_партий
      tags:
      - Подача сведений
      - Резервирование партий
      x-true-api-version: v3
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  partyNumberInfo:
                    type: array
                    items:
                      type: object
                    description: Сведения о партиях
                  createdDateTime:
                    type: string
                    description: 'Дата резервирования Формат: yyyy-MM-ddTHH:mm:ss.SSSZ'
                  gtin:
                    type: string
                    description: Код товара
                  partyNumber:
                    type: string
                    description: Номер партии
                  productGroups:
                    type: array
                    items:
                      type: string
                    description: 'Товарная группа Возможное значение: «milk» (Молочная
                      продукция)'
                  productionDate:
                    type: string
                    description: 'Дата производства Формат: yyyy-MM-ddTHH'
                required:
                - createdDateTime
                - gtin
                - partyNumber
                - productGroups
                - productionDate
        default:
          description: Ошибка по умолчанию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /cises/search:
    post:
      summary: Метод получения информации о списке КИ по заданным фильтрам
      operationId: post_cises_search
      description: 'Метод позволяет получить информацию по КИ / КиЗ, числящихся на
        участнике оборота товаров по заданным фильтрам. Максимальный лимит кодов в
        ответе с учётом пагинации 10 000.


        Примечание Информация о кодах, списанных из-за отсутствия нанесения КМ на
        единицы товара или комплекты, по которым последнее событие происходило месяц
        назад, в данном методе не возвращается


        Тип приватности: c токеном авторизации.'
      x-section: 5.1.1
      x-doc-anchor: _метод_получения_информации_о_с�писке_ки_по_заданным_фильтрам
      tags:
      - Сведения о КИ и товарах
      - Данные о КИ
      x-true-api-version: v4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    emissionDatePeriod:
                      type: object
                      properties:
                        from:
                          type: string
                        to:
                          type: string
                    applicationDatePeriod:
                      type: object
                      properties:
                        from:
                          type: string
                        to:
                          type: string
                    productionDatePeriod:
                      type: object
                      properties:
                        from:
                          type: string
                        to:
                          type: string
                    introducedDatePeriod:
                      type: object
                      properties:
                        from:
                          type: string
                        to:
                          type: string
                    gtins:
                      type: array
                      items:
                        type: string
                    producerInns:
                      type: array
                      items:
                        type: string
                    generalPackageTypes:
                      type: array
                      items:
                        type: string
                    turnoverTypes:
                      type: array
                      items:
                        type: string
                    states:
                      type: array
                      items:
                        type: object
                        properties:
                          status:
                            type: string
                          statusExt:
                            type: string
                          isStatusExtNull:
                            type: boolean
                    tnVed:
                      type: string
                    tnVed10:
                      type: string
                    emissionTypes:
                      type: array
                      items:
[...]
